:root {
  --primary-color: #009da5;
  --secondary-color: #ffc700;

  --accent-color: #6c5ce7;
  --accent-color: #dc143c;
  --accent-color: #50c878;
  --accent-color: #f4c430;
  --accent-color: #e0115f;
  --accent-color: #4b0082;

  --background-color: #f8f9fa;
}

img.village-image{
  width:100%;

}
hr.village-page{
    border: none;
    border-top: 5px solid var(--accent-color);
    margin: 10px 0; /* Adjust the padding (top and bottom) as needed */
}
p.village-text{
  margin:0px;
}


.tract-lawheading {
  font-size: var(--FontSize11, 1.1em);
  font-weight: bold;
  color: var(--accent-color);
}
.tract-law,
.mylanguage {
 font-size: var(--FontSize11, 1.1em);
  line-height: 1.3em;
  font-weight: bold;
  color: var(--accent-color);
}
.tract-law-number {
  font-size: var(--FontSize30, 3em);
  color: var(--accent-color);
  width: var(--LawNumberWidth, 20px);
}

.mylanguage {
  padding-left: 15px;
  padding-right: 15px;
}
.tract-countryname,
.tract-heading {
 font-size: var(--FontSize11, 1.1em);
  line-height: 1.3em;
  color: var(--primary-color);
  font-weight: bold;
}

.tractTitle {
  text-align: right;
}

.section-intro,
.section-law1,
.section-law2,
.section-law3,
.section-law4,
.section-circles,
.div-circles,
.section-prayer,
.section-know,
.section-nowthat,
.section-grow,
.section-feel,
.section-church,
.section-contact {
  background-color: #fff;
  border: none;
}
.section-title {
  background-color: #fff;
 font-size: var(--FontSize12, 1.2em);
  line-height: 1.3em;
  color: var(--accent-color);
  white-space: normal;
  text-align: left;
  position: relative;
  display: table-cell;
}
.section-copyright {
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
table {
  table-layout: fixed;
}
#tract-table {
  border: none;
  background-color: #fff;
}

.tract-header {
  background-color: #fff;
  border: none;
}
tr.tract-row {
  vertical-align: top;
}
td {
  vertical-align: top;
  padding-bottom: 1em;
}
td.side-left,
th.side-left {
  border-bottom: 0;
  padding-left: 5px;
  width: 50%;
  padding-right: 30px;
}
td.side-right,
th.side-right {
  border-bottom: 0;
  width: 50%;
  padding-left: var(--SideRightPadding, 30px);
  padding-right: 5px;
}
td.side-whole,
th.side-whole {
  border-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}
td.tract-image,
td.tract-circle1,
td.tract-circle2 {
  text-align: center;
}
td.rtl {
  text-align: right;
}
a {
  color: #aa0040;
}
img.tract-image {
  width: 70%;
  max-width: 300px;
}
.tract-image-image {
  max-width: 90%;
  height: auto;
  width: auto\9; /* ie8 */
}
.tract-image-circle-image {
  max-width: 90%;
  height: auto;
  width: auto\9; /* ie8 */
}


a.tract-link {
  color: var(--accent-color);
}
.tract-verse {
  font-size: var(--FontSize10, 1.0em);
  line-height: 1.3em;
  font-style: italic;
  color: black;
}
.tract-text {
  font-size: var(--FontSize10, 1.0em);
  color: #000;
}
.tract-explanation {
  font-size: var(--FontSize08, 0.8em);
  color: #000;
}
.tract-circle-image {
  text-align: center;
}
p {
  margin: 10px;
}
p.tract-circle-heading-ltr,
p.tract-circle-heading-rtl,
.tract-circle-heading {
 font-size: var(--FontSize11, 1.1em);
  color: var(--primary-color);
  line-height: 1.3em;
  text-align: center;
  font-weight: bold;
}
p.tract-circle-subhead,
.tract-circle-image {
  font-size: var(--FontSize10, 1.0em);
  color: #000;
  text-align: center;
  font-weight: bold;
}
p.tract-circle-point-ltr,
.tract-circle-text {
  font-size: var(--FontSize10, 1.0em);
  color: #000;
  text-align: left;
}
p.tract-circle-point-rtl {
  font-size: var(--FontSize10, 1.0em);
  color: #000;
  text-align: right;
  direction: rtl;
}
p.rtl {
  text-align: right;
}
.tract-circle-footer-ltr {
  font-size: var(--FontSize10, 1.0em);
  color: #000;
  text-align: center;
  font-weight: normal;
}
.tract-circle-footer-rtl {
  font-size: var(--FontSize10, 1.0em);
  color: #000;
  text-align: center;
  font-weight: normal;
  direction: rtl;
}
.tract-circle-explanation,
.tract-circle-explanation-ltr,
.tract-circle-explanation-rtl {
  font-size: var(--FontSize08, 0.8em);
  color: #000;
  text-align: center;
}
.tract-heading.translation,
.tract-verse.translation,
.translation {
  color: #aaa;
}
.tract-prayer,
.tract-address,
.bold {
  font-weight: bold;
}

p.tract-circle-point-ltr,
p.tract-circle-point-rtl {
  text-indent: -1.3em;
  padding-left: 1.3em;
}
.background {
  margin-left: 15px;
  margin-right: 15px;
}
li.background {
  margin-left: 15px;
}
li.rtl {
  direction: rtl;
}
h3 {
  margin-top: 1em;
}
p.background {
  font-size: var(--FontSize10, 1.0em);
}
div.content {
  padding-left: 7px;
  padding-right: 7px;
}


